@import '../../../public/styles/index.scss';

._main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 12rem;
  overflow-y: hidden;
}

._content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

._imageContainer {
  margin: 1rem 0.5rem 4rem 0;
  flex-direction: column;
  width: 49%;
  cursor: pointer;
}

._imageLeftContent {
  height: 45vh;
  position: relative;
}



._imageRightContent {
  height: 45vh;
  position: relative;
}

._imageBox {
  margin: 0 4rem;
  height: 100%;
  position: relative;
}

._imageHoverBox {
  opacity: 0;

  &:hover {
    transition: all 0.5s;
    opacity: 1;
  }
}

._text {
  color: $white;
  font-size: $pixel;
  margin-bottom: 1rem;
  font-family: $pixel;
}

._emptyText {
  color: $black;
  font-family: $pixel20;
  margin-bottom: 1rem;
  font-family: $pixel;
}


._buttonContainer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}


._logoContainer {
  height: 100%;
}

@include responsive(lg) {
  ._content {
    flex-direction: column;
    justify-content: center;
  }

  ._imageContainer{
    width: 98%;
    margin: 1rem  0.5rem;
  
  }


  ._imageLeftContent,
  ._imageRightContent {
    height: 25vh;
  }

  ._text {
    font-size: $pixel16
  }

  ._emptyText {
    font-size: $pixel16;
  }

  ._main {
    margin-top: 2rem;
  }
}