@import '../../../public/styles/index.scss';

._main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 7rem;
}

._content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

._leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 18.875rem;
  position: relative;

  &:hover ._imageLeft {
    animation: slidein 0.5s linear forwards;
    -webkit-animation: linear forwards;
    -webkit-animation-name: slidein;
    -webkit-animation-duration: 0.5s;

  }
}

._leftContainer {

  &:hover ._textLeftContainer  {
    animation: fadeIn 0.7s linear forwards;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.7;
  }
}

._textLeftContainer {
  position: absolute;
  right: -30%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

._imageLeft {
  position: absolute;
  left: 40%;
}

._rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 18.875rem;
  position: relative;

  &:hover ._imageRight {
    animation: slidein 0.5s linear forwards;
    -webkit-animation: linear forwards;
    -webkit-animation-name: slidein;
    -webkit-animation-duration: 0.5s;

  }
}

._rightContainer {

  &:hover ._textRightContainer  {
    animation: fadeIn 0.7s linear forwards;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.7;
  }
}

._textRightContainer {
  position: absolute;
  right: -30%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

._imageRight {
  position: absolute;
  left: 50%;
}

._leftTitle {
  font-size: 2.5rem;
  font-family: $helvetica;
  color: $heliotrope;
  margin-bottom: 1rem;
}

._rightTitle {
  font-size: 2.5rem;
  font-family: $helvetica;
  color: $apple;
  margin-bottom: 1rem;
}

._text {
  font-size: 1.875rem;
  margin: 0.5rem;
  font-family: $helvetica;
  color: $white;
}

@keyframes slidein {

  0%{
    left: 50%;
  }
  25%{
    left: 35%;
  }
  50%{
    left: 25%;
  }
  75%{
    left: 15%;
  }
  100%{
    left: 0%;
  }
}

@keyframes fadeIn {
  0%{
    left: 100%;
    opacity: 0;
  }
  25%{
    left: 85%;
    opacity: 0.25;
  }
  50%{
    left: 70%;
    opacity: 0.5;
  }
  100%{
    left: 55%;
    opacity: 1;
  }

}