@import '../../../public/styles/index.scss';

._main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
}

._content {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._textBox {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

._imageBox {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

._imageBoxResponsive {
  width: 30%;
  display: none;
}

._title {

  font-size: $helvetica90;
  color: $white;
  font-family: $helvetica;
  line-height: 1;

  & span {
    color: $heliotrope;
    font-size: $helvetica90;
    font-family: $helvetica;
    line-height: 1;
  }
}

._text {
  font-size: $helvetica24;
  color: $white;
  margin-top: 1rem;
  font-family: $helvetica;
  width: 480px;
}

._buttonContainer {
  margin-top: 2rem;
}


@include responsive(lg) {

  ._content {
    flex-direction: column-reverse;
    height: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  ._textBox {
    width: 100%;
  }

  ._imageBox {
    display: none;
  }

  ._imageBoxResponsive {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  ._title {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: $helvetica40;

    & span {
      font-size: $helvetica40
    }
  }

  ._text {
    width: 100%;
    text-align: center;
    font-size: $helvetica16
  }

  ._buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

}