@import '../../../public/styles/index.scss';

._buttonContainer {
  width: 15.313rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: 1px solid $white;
  border-radius: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

._button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
 
}

._text {
  font-size: $helvetica16;
  color: white;
  font-family: $helvetica;
  margin-right: 1rem;
  width: max-content;
}

._image{
 width: 100%;
 display: flex;
 justify-content: flex-start;
 align-items: center;
color:white;

}

._container{
  background-color: transparent;
  border: none;
  
}

@include responsive(lg) {
  ._text{
    font-size: $helvetica14;
    font-weight: 400;
  }
  ._buttonContainer{
    width: 17rem;
  }
}