@import '../../../public/styles/index.scss';

._buttonContainer {
  width: 15.313rem;
  height: 2.5rem;
  box-sizing: border-box;
  border: 1px solid $white;
  border-radius: 1.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  cursor: pointer;


}

._button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
 
}

._text {
  font-size: 0.875rem;
  color: white;
  font-family: $helvetica;
  margin-right: 1rem;
  width: max-content;
}

._image{
 width: 100%;
}