@import '../../../public/styles/index.scss';

._main {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 3000px;
}

._sticky {
  position: sticky;
  height: fit-content;
  top: 15%;
}

._content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

._leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 18.875rem;
  position: relative;

  ._textLeftContainer {
    position: absolute;
    right: -30%;
    display: flex;
    flex-direction: column;
    opacity: 0;
  }
}

._rightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 18.875rem;
  position: relative;

  ._textRightContainer {
    position: absolute;
    right: -30%;
    display: flex;
    flex-direction: column;
    opacity: 0;
  }
}

._leftTitle {
  font-size: $helvetica36;
  font-family: $helvetica;
  color: $heliotrope;
  margin-bottom: 1rem;
}

._rightTitle {
  font-size: $helvetica36;
  font-family: $helvetica;
  color: $apple;
  margin-bottom: 1rem;
}

._text {
  font-size: $helvetica24;
  margin: 0.5rem;
  font-family: $helvetica;
  color: $white;
}

._contentResponsive {
  display: none;
}

@include responsive(lg) {
  ._contentResponsive {
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: flex;
  }

  ._content {
    display: none;
  }

  ._leftContainer {
    width: 100%;

    ._imageLeft {
      display: none;
    }

    ._textLeftContainer {
      width: 100%;
      transition: none;
      opacity: 1;
    }

  }

  ._rightContainer {
    width: 100%;



    ._imageRight {
      display: none;
    }

    ._textRightContainer {
      opacity: 1;
      position: unset;
      transition: none
    }

  }

  ._leftTitle {
    font-size: $helvetica20
  }

  ._rightTitle {
    font-size: $helvetica20
  }

  ._text {
    font-size: $helvetica16
  }

  ._leftContainerResponsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2.5rem 0 3rem 0;
  }

  ._rightContainerResponsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2.5rem 0 5rem 0;
  }
}