@import '../../../public/styles/index.scss';

._popup {
  display: flex;
  z-index: 3;
  background: $popup;
  width: 100%;
  height: 5.25rem;
  padding: 1rem 8rem;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

._title {
  font-family: $editorial;
  font-size: 2.125rem;
  color: $black;
  width: 10rem;
  justify-content: center;
  text-align: center;
  margin-top: auto;
}

._text {
  display: flex;
  font-family: $helvetica;
  font-size: 1.25rem;
  text-align: flex-start;
  width: 35%;
}

._form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

._input {
  width: 50%;
}

._inputText {
  font-size: 1rem;
  color: $black;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  &::placeholder {
    color: $black;
  }
}

._button {
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
  background-color: $black;
  border-radius: 5rem;
  font-family: $helvetica;
  color: $white;
  width: 18rem;
  height: 2.5rem;
  text-align: flex-start;
  cursor: pointer;
}

._arrow {
  position: relative;
  left: 20%;
}

._hidden {
  display: none;
}

@include responsive(lg) {
  ._popup {
    height: 14.6875rem;
    flex-direction: column;
  }

  ._title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  ._text {
    font-size: 1.1rem;
    width: 20.25rem;
  }

  ._form {
    flex-direction: column;
  }

  ._input {
    margin: 1rem 0;
    width: 18rem;
  }

  ._inputText {
    font-size: 0.75rem;
  }

  ._button {
    margin: 0rem;
  }

  ._lineBreak {
    display: none;
  }
}
