* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background-color: black;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url('../../public/fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url('../../public/fonts/HelveticaNeueBold.ttf');
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url('../../public/fonts/HelveticaNeueLight.ttf');
}