@import '../../public/styles/index.scss';

._main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15% 4rem 15%;
    width: 70%;
   
}
  
@include responsive(lg) {
    ._main{
        width: 95%;
        margin: 0 2.5% 4rem 2.5%;
    }
  }
