@import '../../public/styles/index.scss';

._main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    overflow-x:hidden
}

@include responsive(lg) {
    ._main {
        width: 95%;
        margin: 0 2.5% 4rem 2.5%;
    }
}