@import '../../../public/styles/index.scss';


._paragraphContainer {
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

}

._paragraph {
  color: $white;
  font-family: $helvetica;
  font-size: $helvetica36;
  text-align: center;
  line-height: 1.4;
}

@include responsive(lg) {

  ._paragraph {
    font-size: $helvetica16;
    text-align: center;
    width: 90%;
    margin: 3rem auto 0 auto;
  }


}