@import '../../../public/styles/index.scss';

._inputContainer {
  border-bottom: 1px solid $footerWhite;
  width: 100%;

  background-color: transparent;
}
._validates {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  color: $footerWhite;
  font-family: $helvetica;
}

._input {
  background-color: transparent;
  border: none;
  width: 100%;
  color: $footerWhite;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  &::placeholder {
    color: $footerWhite;
  }
}
