@import '../../../public/styles/index.scss';

._inputContainer{
    border-bottom: 1px solid $white;
    width: 100%;
   
    background-color: transparent;
}
._validates{
    font-size: 0.750rem;
    margin-top: 0.5rem;
    color: $white;
    font-family: $helvetica;
  }

._input{
    background-color: transparent;
    border: none;
    width: 100%;
    color: $white;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    &::placeholder {
        color: $white; 
      
    }
}