@import '../../../public/styles/index.scss';

._content {
    background-color: $black;
    position: fixed;
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    z-index: 2;
}


._imageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding-left: 2rem;
}
._imageBoxResponsive{
   display: none; 
}

._textBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding-right: 2rem;
}

._text {
    color: $gallery;
    font-size: 0.875rem;
    cursor: pointer;
    font-family: $helvetica;
}

@include responsive(lg) {

    ._content{
        height: 4rem;
    }
    ._imageBoxResponsive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 1rem;
    }

    ._imageBox{
        display: none;
    }
    ._text{
        display: none;
    }
}