$helvetica: "Helvetica";
$helveticaBold: "HeltevicaBold";
$helveticaLight: "HeltevicaLight";
$editorial: "Editorial";
$pixel: "Pixel";

$helvetica90:5.625rem; 
$helvetica40:2.5rem;
$helvetica36:2.25rem;

$helvetica24:1.5rem;
$helvetica20:1.25rem;
$helvetica16:1rem;
$helvetica14:0.875rem;
$helvetica12:0.75rem;

$editorial40:2.5rem;
$editorial32:2rem;
$editorial30:1.875rem;
$editorial24:1.5rem;
$editorial16:1rem;

$pixel20:1.25rem;
$pixel16:1rem;