@import './index.scss';

html,
body {
  padding: 0;
  margin: 0;
  background: $black;

}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  pointer-events: auto;
}

*:focus {
  outline: none;
}


  @font-face {
    font-family: "HelveticaNeue";
    src: url('../../public/fonts/HelveticaNeue.ttf');
  }
  
  @font-face {
    font-family: "HelveticaNeueBold";
    src: url('../../public/fonts/HelveticaNeueBold.ttf');
  }
  
  @font-face {
    font-family: "HelveticaNeueMedium";
    src: url('../../public/fonts/HelveticaNeueLight.ttf');
  }
  
  @font-face {
    font-family: "Editorial";
    src: url('../../public/fonts/PPEditorialNew-UltralightItalic.otf');
  }
  
  @font-face {
    font-family: "Pixel";
    src: url('../../public/fonts/ArgentPixelCF-Italic 2.otf');
  }
  