$black:             #000000;
$white:             #FFFFFF;
$gallery:           #ECECEC;
$heliotrope:        #CE80FE;
$gray:              rgba(255, 255, 255, 0.2);
$apple:             #B8E19D;
//FONT
// $space: "Space Grotesk", sans-serif;
// $cinzel: "Cinzel", sans-serif;
// $raleway: "Raleway', sans-serif";
