
//LIGHT THEME
// $black:             #FFFFFF;
// $white:             #000000;
// $gallery:           #000000;
// $gray:              rgba(0, 0, 0, 0.2);
//LIGHT THEME

//DARK THEME 
$black:             #000000;
$white:             #FFFFFF;
$gallery:           #ECECEC;
$gray:              rgba(255, 255, 255, 0.2);
//DARK THEME 

$heliotrope:        #CE80FE;
$apple:             #B8E19D;
$alabaster:         #FCFCFC;
$tundora:           #434343;
//FONT
// $space: "Space Grotesk", sans-serif;
// $cinzel: "Cinzel", sans-serif;
// $raleway: "Raleway', sans-serif";

$max-width: 1200px;