@import '../../../public/styles/index.scss';

._content {
    background-color: $black;
    width: 100vw;
    height: 4.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

._imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


._imageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

._imageBoxTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding-left: 2rem;
}

._iconsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 2rem;
}

._icon {
    margin: 0 0.5rem 0 0.5rem;

    &:last-child {
        margin-right: 0;

    }
}

._imageBoxResponsive {
    display: none;
}

._imageBoxTwoResponsive {
    display: none;
}

@include responsive(lg) {
    ._imageBox {
        padding-left: 1rem;
    }

    ._imageBoxTwo {
        padding-left: 1rem;
    }

    ._imageBoxResponsive {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-bottom: 0.5rem;

    }

    ._imageBoxTwoResponsive {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }

    ._imageBox {
        display: none;

    }

    ._imageBoxTwo {
        display: none;
    }

    ._iconsContainer {
        padding-right: 1rem;
    }

}